# Python
__pycache__/
__init__.py

# Node.js
node_modules

# Git-related
.git
.github
.gitconfig

# Editor settings
.vscode

# System files
.DS_Store

# Logs
*.log

# Backups
*-bak

# File lainnya
*.md

# Documentation
LICENSE
doc/
report/
rencana/

# Kecualikan env
!.env
